input, button {
    vertical-align:middle;
}
input[type=submit] {
    background: darkcyan;
    color: lightgray;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    width: 215px;
}
body {
    font-family: Courier, "monospace";
    background-color: lightcyan;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 40px;
}
header {
    text-align: center;
    color: lightgray;
    background-image: url("header.png");
    height: 200px;
}
header .container {
    position: relative;
    top: 75px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-image: url("footer.png");
}
footer p{
    padding-top: 10px;
    color: lightgray;
}
footer a{
    color: lightblue;
}
h4 {
    color: #444444;
    text-align: center;
    margin: 20px;
}
p {
    color: #444444;
}
.container {
    max-width: 800px;
    margin: auto;
}
.image-container {
    text-align: center;
    margin: 10px;
}
.input-group {
    width: 100%;
    padding: 5px;
    margin: auto;
}
.input-element {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
label {
    width: 300px;
    text-align: left;
}
form {
    margin: auto;
}
.centered {
    text-align: center;
}
